body {
    /*background-color: #e0e0e0;*/
    background-color: #f6f6f6;
    font-family: 'Roboto';
}

/* Navbar ***********************************************************************/
.navbar {
    background-color: #333;
    height: 70px;
}

.nav-item {
    display:inline-block;
    justify-content:space-between;
    align-items:center; 
}

.nav-link {
    color: rgba(0, 0, 0, 0.543);
}

.nav-item:hover ul {     
    opacity: 1;            
    visibility: visible;
}

.nav_dropdown {
    position: absolute;
    top: 3rem;
    background-color: rgba(255,255,255,.85);
    width: 12rem;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    /*box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);*/
}

.nav_dropdown li {
    list-style: none;
}

.nav_dropdown li a {
    text-decoration: none;
    padding: 0.2rem;
    transition: background-color 200ms ease-in-out;
    /*color: rgba(0, 0, 0, 0.543);*/
    color: #191919;
}

.nav_dropdown li a:hover, .nav_dropdown li a:focus {
    text-decoration: underline;
}


/* Problem ***********************************************************************/
.text-box {
    width: 85vh;
}

.text-box2 {
    width: 70vw;
    margin-bottom: 80px;
}

.text-box2 h5 {
    text-align: center;
}

.col {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

/* Carousel ************************************************************/
.carousel-inner {
    height: 10vh;
    width: 70vw;
    padding: 10px 0 50px 0;
}

.carousel-title {
    width: 70vw;
    padding-top: 50px;
}


.carousel-control-prev {
    margin-left: -20%;
}

.carousel-control-next {
    margin-right: -20%;
}

/* Solution Characteristics *******************************************************/
.solution-box {
    width: 938px;
    margin: 5px;
    padding: 20px;
    text-align: left;
    position: relative;
    list-style-type: none;
    box-sizing: content-box;
    opacity: 1;
}

.characteristic-box {
    width: 500px;
    height: 175px;
    margin: 5px;
    padding: 20px;
    text-align: left;
    position: relative;
    list-style-type: none;
    box-sizing: content-box;
    opacity: 1;
}

.title {
    font-size: 18px;
    text-decoration: none;
}

.icon {
    width: 40px;
    height: 88px;
    float: left; 
    margin-top: 4px;
    margin-right: 18px;
    font-size: 35px;
}

.characteristic-content {
    margin: 4px 0 0 58px; 
}


/* Mentor Page *********************************************************************/
.card-title {
    margin-top: 200px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    margin-bottom: 180px;
}

.card-image {
    width: 100%;
    border-radius: 5px;
}


/* Team Page *********************************************************************/
.team {
    margin-top: 145px;
}

.team-header {
    width: 85vh;
    margin-top: 70px;
}

.team-member {
    border: 1px solid rgba(0,0,0,.125);;
    display: flex;
    justify-content: center;
    height: 750px;
    width: 350px;
    border-radius: 5px;
}

.member-image {
    height:350px;
    width: 270px;
    border-radius: 5px;
    margin-top: 35px;
}

.member-name {
    display: block;
    font-size: 25px;
    margin: 18px 0px;
}

.member-bio {
   text-align: justify;
   display: block;
   width: 270px;
}


/* Presentations Page **************************************************/
.pres_card {
    margin-top: 200px;
    text-align: center;
}

iframe {
    margin-top: 50px;
    margin-bottom: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Deliverables Page **************************************************/
.diagram-name {
    display: flex;
    font-size: 25px;
    margin: 18px 0px;
    justify-content: center;
    align-items: center;
}

.diagram {
    width: 760px;
    height: auto;
    margin: 10px 0px;
}

.diagram-image {
    width: 90%;
    height: auto;
    margin: 5%;
}

/* Competition Matrix Page *********************************************/
.matrix {
    width: 1000px;
    height: auto;
    margin: 10px 0px 190px 0px;
}

/* Footer **************************************************************/
footer {
    /*position: fixed;*/
    height: 50px;
    width: 100%;
}

.footer-text {
    text-decoration: none;
    color: black;
}
