body {
    /*background-color: #e0e0e0;*/
    background-color: #f6f6f6;
    font-family: 'Roboto';
}

/* Navbar ***********************************************************************/
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar-brand {
    line-height: 23px;
}

.lead text-secondary {
    color: #7d7e80;
}

.nav-item {
    display:inline-block;
    justify-content:space-between;
    align-items:center; 
}

.nav-link {
    color: rgba(0, 0, 0, 0.543);
}


/* Problem ***********************************************************************/
.text-box {
    width: 85vh;
}

/* Solution Characteristics *******************************************************/
.characteristic-box {
    width: 500px;
    height: 175px;
    margin: 5px;
    padding: 20px;
    text-align: left;

    position: relative;
    list-style-type: none;
    box-sizing: content-box;
    opacity: 1;
}

.title {
    font-size: 18px;
    text-decoration: none;
}

.icon {
    width: 40px;
    height: 88px;
    float: left; 
    margin-top: 4px;
    margin-right: 18px;
    font-size: 35px;
}

.characteristic-content {
    margin-top: 4px; 
}


/* Team Page *********************************************************************/
.team {
    margin-top: 145px;
}

.team-header {
    width: 85vh;
    margin-top: 70px;
}

.team-member {
    border: 1px solid rgba(0,0,0,.125);;
    display: flex;
    justify-content: center;
    height: 750px;
    width: 350px;
    border-radius: 5px;
}

.member-image {
    height:350px;
    width: 270px;
    border-radius: 5px;
    margin-top: 35px;
}

.member-name {
    display: block;
    font-size: 25px;
    margin: 18px 0px;
}

.member-bio {
   text-align: justify;
   display: block;
   width: 270px;
}


/* Presentations Page **************************************************/
iframe {
    margin-top: 200px;
    margin-bottom: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Deliverables Page **************************************************/
.diagram-name {
    display: flex;
    font-size: 25px;
    margin: 18px 0px;
    justify-content: center;
    align-items: center;
}

.diagram {
    width: 750px;
    height: 762px;
    margin: 10px 0px;
}

.diagram-image {
    width: 750px;
    height: 690px;
}

/* Footer **************************************************************/
footer {
    /*position: fixed;*/
    height: 50px;
    width: 100%;
}

.footer-text {
    text-decoration: none;
    color: black;
}


/* Test *****/

